#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reserva {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #D8E9A8;
    text-align: center;
    width: 100%;  
    gap: 20px;
}


.reserva h3,
.reserva h4 {
    margin: 0;
}

button {
    width: 100px;
    height: 30px;
    background-color: #1E5128;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}
li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.salir{
    color: white;
    text-decoration: none;
    

}